/* FOOTER */

h4{
    font-family: $typo-principal;
}
.footer {
    background-color: $color-primario;
}

.tituloFooter {
    font-size: 15px;
    font-weight: bold;
}

.listaFooter {
    font-size: 20px;
    list-style: none;
}

.listaFooter a {
    text-decoration: none;
    color: $color-letra-principal;
}

.img-footer {
    width: 120px;
    float: left;
}