/* FOOTER */
.footer {
    background-color: rgb(250, 250, 241);
}

.tituloFooter {
    font-size: 15px;
    font-weight: bold;
}

.listaFooter {
    font-size: 20px;
    list-style: none;
}

.listaFooter a {
    text-decoration: none;
    color: black;
}

.img-footer {
    width: 120px;
    float: left;
}