.encabezado-cursos {
    background-image: url(https://res.cloudinary.com/dfbwcrulp/image/upload/v1676504553/desarrollo_web/header-creaciones1.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}

/*  Dispositivos HASTA 425px  - CELULARES */
@media(max-width: 425px) {

    .encabezado-cursos {
        background-image: url(https://res.cloudinary.com/dfbwcrulp/image/upload/v1676595943/desarrollo_web/20220212_124848_f341bf.jpg);
        background-size: center;
        height: 700px;       
    }
  }