.encabezado-quienSoy {
    background-image: url(https://res.cloudinary.com/dfbwcrulp/image/upload/v1676503553/desarrollo_web/header-creaciones-1_xdgjuc.webp);
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}
