.encabezado-creaciones {
  background-image: url(https://res.cloudinary.com/dfbwcrulp/image/upload/v1676417150/desarrollo_web/header-creaciones.jpg);
  background-size: cover;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/*  Dispositivos HASTA 425px  - CELULARES */
@media(max-width: 425px) {

  .encabezado-creaciones {
      background-image: url(https://res.cloudinary.com/dfbwcrulp/image/upload/v1676417152/desarrollo_web/creaciones-copo_qc1szg.jpg);
      background-size: center;
      height: 700px;       
  }
}