
.encabezado-home {
    background-image: url(https://res.cloudinary.com/dfbwcrulp/image/upload/v1676417148/desarrollo_web/home.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }