.encabezado-comoPedir {
    background-image: url(https://res.cloudinary.com/dfbwcrulp/image/upload/v1676503979/desarrollo_web/header-como-pedir.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}