main {
  background-color: $color-secundario;
  height: auto;
}

h1 {
  padding: 3rem;
  font-size: $titulos !important;
}

h2 {
  font-family: $typo-principal !important;
  font-size: $titulos-secundarios;
  margin: 0 0 1rem 3rem;
}

p {
  font-family: $typo-secundaria;
  color: $color-letra-principal;
  text-align: center;
  padding: 0rem 2rem 2rem 2rem;
  font-size: $texto-gereral;
  text-align: $texto-orientacion;
}
