.div-quien-soy{    
    font-family: $typo-principal;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.foto-presentacion{
    height: 500px;  
    margin:  0 0 0 2rem;     
    
}